<?php

return [
    'cfg_bb_groups' => array(
        'register' => 2,
        'inactive' => 14,
        'admin'    => 5,
        'spai'     => 10,
        'brave'    => 8,
    ),
    'cfg_bb_group_by_tag' => array(
        'admin' => array('admin'),
    ),
    'cfg_bb_group_default_by_tag' => array(
        'default' => array(0, 'spai'),
        'member'  => array(2, 'brave'),
    )
];
